<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="#{appname}">...</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="base.css" th:href="@{/resources/css/base.css}" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- navbar-header -->
	<div th:replace="plugins :: navbar-header"></div>

	<div class="container-fluid">
		<div class="row">
			
			<div th:replace="plugins :: sidebar"></div>
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="biz_container">
				<!-- 请在此处写业务 -->
				<!-- 
				<h1 class="page-header">Dashboard</h1>

				<h2 class="sub-header">Section title</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Header</th>
								<th>Header</th>
								<th>Header</th>
								<th>Header</th>
							</tr>
						</thead>
						<tbody th:remove="all-but-first">
							<tr th:each="trade : ${trades}">
								<td th:text="${trade.tid}">1,001</td>
								<td th:text="${trade.buyernick}">Lorem</td>
								<td th:text="${trade.title}">ipsum</td>
								<td th:text="${trade.created}">dolor</td>
								<td th:text="${trade.payment}">sit</td>
							</tr>
							<tr>
								<td>1,002</td>
								<td>amet</td>
								<td>consectetur</td>
								<td>adipiscing</td>
								<td>elit</td>
							</tr>
						</tbody>
					</table>
				</div>
				 -->
			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="jquery.min.js" th:src="@{/resources/common/jquery-1.7.1.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
	jQuery(function($){
		$("li","#_sidebar").click(function(){
			$("li","#_sidebar").removeClass("active");
			$(this).addClass("active");
			
			//加载正文
			var url = $("a", this).attr("data-url");
			$("#biz_container").load(url);
		});
	});
</script>
</html>