<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/xhtml"
	xmlns:th="http://www.thymeleaf.org" ng-app='phonecatApp'>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="#{appname}">{{query}}</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="http://localhost:8080/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="base.css" th:href="@{/resources/css/base.css}" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="AppCtrl">
	<!-- navbar-header -->
	<div th:replace="plugins :: navbar-header"></div>

	<div class="container-fluid">
		<div class="row">
			
			<div th:replace="plugins :: sidebar"></div>
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="biz_container">
				
				<div ng-view></div>
				
			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="jquery.min.js" th:src="@{/resources/common/jquery-1.7.1.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="http://localhost:8080/bootstrap/js/bootstrap.min.js"></script>
	
	<script src="http://localhost:8080/angular/angular.js"></script>
	<script src="http://localhost:8080/angular/angular-route.js"></script>
	<script src="app.js" th:src="@{/resources/js/app.js}"></script>
	<script src="controllers.js" th:src="@{/resources/js/controllers.js}"></script>
</body>
<script type="text/javascript">
	jQuery(function($){
		$("li","#_sidebar").click(function(){
			$("li","#_sidebar").removeClass("active");
			$(this).addClass("active");
		});
	});
</script>

<script type="text/ng-template" id="phone-detail-tmp.html">
	TBD(script-tmp):detail view for <span>{{phoneId}}</span>
......................................
</script>
<script type="text/ng-template" id="printtmp.html">
<div class="form-group">
<div class="input-group">
<div class="input-group-addon">选择快递公司: </div>
<select id="expcomp" name="expcomp" class="form-control">
  	<option ng-repeat="expcomp in expcomps" value="{{expcomp.compId}}">{{expcomp.compName}}</option>
</select>
</div>
</div>
</script>
</html>